* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #cccc;
}

header {
    height: auto;
    margin-bottom: 30px;
}

header img {
    border: solid 10px #fff;
    width: 300px;
    border-radius: 50%;
    transform: translateY(150px);
    box-shadow: 1px 1px 10px #555;
}

header p {
    font-size: 2rem;
}

h1 {
    font-size: 3rem;
}

.acerca-de-mi {
    margin: auto;
    width: 90%;
    box-shadow: 1px 1px 10px #555;
    padding: 150px 0;
    background-color: #fafafa;
    margin-bottom: 30px;
}

.acerca-de-mi article {
    margin-bottom: 5rem;
}

.icons {
    font-size: 1.5rem;
}

.icons i {
    margin: 0 5px;
    color: orange;
}

.btns button {
    cursor: pointer;
    box-shadow: 1px 1px 10px #555;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
}

/* Seccion Experiencia */

.experiencia {
    margin-bottom: 30px;
}

.experiencia h3 {
    color: orange;
}

.experiencia p {
    color: lightblue;
}


/* Linea de tiempo */
.timeline {
    position: relative;
    margin: 50px 0;
    padding-left: 8px;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 2px;
    height: 100%;
    background: #007bff;
    transform: translateX(-50%);
}

.timeline-event {
    position: relative;
    margin-bottom: 50px;
    padding-left: 30px;
}

.timeline-event::before {
    content: '';
    position: absolute;
    top: 2px;
    left: -8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #007bff;
}

.timeline-event .date {
    position: absolute;
    top: 0;
    left: -150px;
    width: 120px;
    text-align: right;
    font-size: 14px;
    color: lightblue;
}
/* Seccion Educación */
.educacion {
    margin: auto;
    width: 90%;
    box-shadow: 1px 1px 10px #555;
    padding: 150px 0;
    background-color: #fafafa;
    /* margin-bottom: 30px; */
    margin-bottom: 30px;
}

.education-box {
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; Centrar verticalmente el contenido */
    height: 30rem; /* Altura fija */
    background-color: #555;
}

.educacion h2 {
    margin-bottom: 5rem;
}

.education-box hr {
    color: orange;
}

.education-box h3 {
    margin-top: 0;
    color: orange;
}

.education-box h4 {
    margin-top: 0;
}

.education-box p {
    margin-bottom: 0;
}

.equal-height {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.equal-height .education-box {
    flex: 1;
    margin-right: 10px; /* Añade espacio entre las cajas */
}

.equal-height .education-box:last-child {
    margin-right: 0; /* Elimina el margen derecho de la última caja */
}

